{include file="public/header" title="捷思路官网" keywords="关键词" description="描述" /}
<div class="font1 jingweb_bg jingweb contact_bg">
    {include file="public/nav" /}
    <div class="whiteline text_transform">
        <div class="mian mian3">
            <p class="mian_p"> 
               上海捷思路网络科技有限公司<br>
                <span style="font-size:18px;">Shanghai Smart Network Technology Co., Ltd.</span>
            </p>
        </div>
        <div class="title3 title">
            <ul>
                <div class="title2_li title_li">
                    <li>
                        <a href="#">
                            <div class="mian_a_p">
                                <p>手    机</p>
                                <p>18939873459</p>
                            </div>
                        </a>
                    </li>
                </div>
                <div class="title2_li title_li">
                    <li>
                        <a href="#">
                            <div class="mian_a_p">
                                <p>邮    箱</p>
                                <p>986337947@qq.com</p>
                            </div>
                        </a>
                    </li>
                </div>
                <div class="title2_li title_li">
                    <li>
                        <a href="#">
                            <div class="mian_a_p">
                                <p>地    址</p>
                                <p>上海市东方路8号良丰大厦11G</p>
                            </div>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <div class="QRcode"><img src="/static/images/QRcode.jpg"><p>扫一扫关注我们微信公众号</p></div>
        <div class="share QRcode">
            <img src="/static/images/qq1.png">
            <img src="/static/images/wechat1.png">
            <img src="/static/images/pyq1.png">
        </div>
    </div>
    {include file="public/footer" /}

