{include file="public/header" title="捷思路官网" keywords="关键词" description="描述" /}
<div class="font1 jingweb_bg jingweb index_bgmian3">
    {include file="public/nav" /}
    <div class="whiteline text_transform" isLeft="false">
        <div class="mian mian3">
            <p class="mian_p"> 
               OUR SERVICES
            </p>
            <div class="title1 title">
                <ul>
                    <div class="title1_li title_li">
                        <li>
                            <a href="#">
                                <div class="mian_a_p">
                                    <p>高端网站设计</p>
                                    <p>High end web design</p>
                                </div>
                            </a>
                        </li>
                    </div>
                    <div class="title1_li title_li">
                        <li>
                            <a href="#">
                                <div class="mian_a_p">
                                    <p>H5游戏开发</p>
                                    <p>H5 game development</p>
                                </div>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="title2 title">
            <ul>
                <div class="title2_li title_li">
                    <li>
                        <a href="#">
                            <div class="mian_a_p">
                                <p>微信深度定制</p>
                                <p>WeChat depth customization</p>
                            </div>
                        </a>
                    </li>
                </div>
                <div class="title2_li title_li">
                    <li>
                        <a href="#">
                            <div class="mian_a_p">
                                <p>微信运营推广</p>
                                <p>WeChat operation promotion</p>
                            </div>
                        </a>
                    </li>
                </div>
                <div class="title2_li title_li">
                    <li>
                        <a href="#">
                            <div class="mian_a_p">
                                <p>移动网站/应用</p>
                                <p>Mobile web / Application</p>
                            </div>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    {include file="public/footer" /}

