{include file="public/header" title="捷思路官网" keywords="关键词" description="描述" /}
<div class="font1 jingweb_bg jingweb index_bgmian2">
    {include file="public/nav" /}
    <div class="whiteline" isLeft="false">
        <div class="main2_pic"><img src="/static/images/index_mian2-1.png"></div>
        <div class="mian mian2">
            <p class="mian_p"> 
                我们不做过多的阐述<br>
                只有站在高端才能看得更远<br>
                只求为您打造完美 别具一格的产品
            </p>
        </div>
    </div>
    {include file="public/footer" /}
