{include file="public/header" title="捷思路官网" keywords="关键词" description="描述" /}
<div class="font1 jingweb_bg jingweb index_bgmian3">
    {include file="public/nav" /}
    <div class="whiteline text_transform" isLeft="false">
        <div class="mian mian3">
            <p class="mian_p_tk"> 
               OUR SERVICES
            </p>
        </div>
        <div class="mian3_introduce">
            <div class="close2">
                <a href="#"><img src="./images/close.png"></a>
            </div>               
            <div class="mian3_i_title">
                <p class="mian3_i_p">高端网站设计</p>
                <p class="mian3_i_p">High end web design</p>
            </div>
            <div class="mian3_i_txt font2">
                <p>以专业的视角，独特的角度为企业提供最具创意、最具视觉冲击力的网站。从交互的角度为受众提供更便利、更舒适的体验感受。</p>
            </div>
            <div class="mian3_i_img">
                <img src="/static/images/mian3_tk2.png">
            </div>
            <div class="mian3_i_button">
                <a href="#">look our works</a>
            </div>
        </div>
    </div>
    {include file="public/footer" /}

