{include file="public/header" title="捷思路官网" keywords="关键词" description="描述" /}
    <div class="font1 jingweb_bg jingweb j_webcase_detail">
    <div class="close3"><a href="#"><img src="/static/images/close.png"></a></div>
        <div class="j_w_d_center">
            <div class="j_w_d_c_title">NONOLADY时尚经期伴侣</div>
        </div>
        <div class="j_w_d_c_photo"><img src="/static/images/case_photo.jpg"><img src="/static/images/case_photo.jpg"><img src="/static/images/case_photo.jpg"></div>
    </div>
</body>
</html>

