{include file="public/base" title="首页" /}
<article class="content dashboard-page">
    <section class="section">
        <div class="row sameheight-container">
            <div class="col col-xs-12 col-sm-12 col-md-12 col-xl-12 stats-col">
                <div class="card sameheight-item stats" data-exclude="xs">
                    <div class="card-block">
                        <div class="title-block">
                            <h4 class="title"> 首页-欢迎您来到管理端 </h4>
                        </div>
                        <div class="row row-sm stats-container">
                            <div class="col-xs-12 col-sm-2  stat-col">
                                <div class="stat-icon"> <i class="fa fa-pencil-square-o"></i> </div>
                                <div class="stat">
                                    <div class="value"> 5 </div>
                                    <div class="name"> 今日咨询数 </div>
                                </div> 
                                <progress class="progress stat-progress" value="5" max="10"></progress> 
                            </div>
                            <div class="col-xs-12 col-sm-2 stat-col">
                                <div class="stat-icon"> <i class="fa fa-map-marker"></i> </div>
                                <div class="stat">
                                    <div class="value"> 20 </div>
                                    <div class="name"> 今日访客ip数 </div>
                                </div> 
                                <progress class="progress stat-progress" value="20" max="100"></progress> 
                            </div>
                            <div class="col-xs-12 col-sm-2 stat-col">
                                <div class="stat-icon"> <i class="fa fa-eye"></i> </div>
                                <div class="stat">
                                    <div class="value"> 200 </div>
                                    <div class="name"> 今日访客数 </div>
                                </div> 
                                <progress class="progress stat-progress" value="200" max="1000"></progress> 
                            </div>
                            <div class="col-xs-12 col-sm-2  stat-col">
                                <div class="stat-icon"> <i class="fa fa-globe"></i> </div>
                                <div class="stat">
                                    <div class="value"> 2 </div>
                                    <div class="name"> 今日新增网站数 </div>
                                </div> 
                                <progress class="progress stat-progress" value="2" max="10"></progress> 
                            </div>
                            <div class="col-xs-12 col-sm-2  stat-col">
                                <div class="stat-icon"> <i class="fa fa-html5"></i> </div>
                                <div class="stat">
                                    <div class="value"> 2 </div>
                                    <div class="name"> 今日新增H5数 </div>
                                </div> 
                                <progress class="progress stat-progress" value="2" max="10"></progress> 
                            </div>
                            <div class="col-xs-12 col-sm-2 stat-col">
                                <div class="stat-icon"> <i class="fa fa-qrcode"></i> </div>
                                <div class="stat">
                                    <div class="value"> 2 </div>
                                    <div class="name"> 今日新增微信开发数 </div>
                                </div> 
                                <progress class="progress stat-progress" value="2" max="10"></progress> 
                            </div>
                        </div>
                        <div class="row row-sm stats-container">
                            <div class="col-xs-12 col-sm-2  stat-col">
                                <div class="stat-icon"> <i class="fa fa-pencil-square-o"></i> </div>
                                <div class="stat">
                                    <div class="value"> 50 </div>
                                    <div class="name"> 咨询总数 </div>
                                </div> 
                                <progress class="progress stat-progress" value="50" max="1000"></progress> 
                            </div>
                            <div class="col-xs-12 col-sm-2 stat-col">
                                <div class="stat-icon"> <i class="fa fa-map-marker"></i> </div>
                                <div class="stat">
                                    <div class="value"> 200 </div>
                                    <div class="name"> 访客ip总数 </div>
                                </div> 
                                <progress class="progress stat-progress" value="200" max="1000"></progress> 
                            </div>
                            <div class="col-xs-12 col-sm-2 stat-col">
                                <div class="stat-icon"> <i class="fa fa-eye"></i> </div>
                                <div class="stat">
                                    <div class="value"> 2000 </div>
                                    <div class="name"> 访客总数 </div>
                                </div> 
                                <progress class="progress stat-progress" value="2000" max="10000"></progress> 
                            </div>
                            <div class="col-xs-12 col-sm-2  stat-col">
                                <div class="stat-icon"> <i class="fa fa-globe"></i> </div>
                                <div class="stat">
                                    <div class="value"> 30 </div>
                                    <div class="name"> 网站总数 </div>
                                </div> 
                                <progress class="progress stat-progress" value="30" max="1000"></progress> 
                            </div>
                            <div class="col-xs-12 col-sm-2  stat-col">
                                <div class="stat-icon"> <i class="fa fa-html5"></i> </div>
                                <div class="stat">
                                    <div class="value"> 20 </div>
                                    <div class="name"> H5总数 </div>
                                </div> 
                                <progress class="progress stat-progress" value="20" max="1000"></progress> 
                            </div>
                            <div class="col-xs-12 col-sm-2 stat-col">
                                <div class="stat-icon"> <i class="fa fa-qrcode"></i> </div>
                                <div class="stat">
                                    <div class="value"> 20 </div>
                                    <div class="name"> 微信开发总数 </div>
                                </div> 
                                <progress class="progress stat-progress" value="20" max="1000"></progress> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{include file="public/footer" /}