{include file="public/base" title="首页" /}
<article class="content items-list-page">
    <div class="title-search-block">
        <div class="title-block">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title"> 浏览访客 </h3>
                </div>
            </div>
        </div>
        <div class="items-search">
            <form class="form-inline">
                <div class="input-group"> 
                    <input type="text" class="form-control boxed rounded-s" placeholder="Search for..."> 
                    <span class="input-group-btn">
	                   <button class="btn btn-secondary rounded-s" type="button">
		                  <i class="fa fa-search"></i>
	                   </button>
                    </span> 
                </div>
            </form>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <section class="example">
                            <div class="table-flip-scroll">
                                <table class="table table-striped table-bordered table-hover flip-content">
                                    <thead class="flip-header">
                                        <tr>
                                            <th>来源方式</th>
                                            <th>浏览设备</th>
                                            <th>搜索词/搜索平台</th>
                                            <th>IP/TP地址</th>
                                            <th>来源Url</th>
                                            <th>浏览时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>搜索浏览</td>
                                            <td>手机</td>
                                            <td>捷思路/百度</td>
                                            <td>127.0.0.1/本地【新】</td>
                                            <td><a target="_blank" href="">点击浏览</a></td>
                                            <td>2017-05-10 23:00:00</td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>直接浏览</td>
                                            <td>手机</td>
                                            <td>--</td>
                                            <td>127.0.0.1/本地</td>
                                            <td><a target="_blank" href="">点击浏览</a></td>
                                            <td>2017-05-10 23:00:00</td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>外链浏览</td>
                                            <td>手机</td>
                                            <td>--</td>
                                            <td>127.0.0.1/本地</td>
                                            <td><a target="_blank" href="">点击浏览</a></td>
                                            <td>2017-05-10 23:00:00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="text-xs-right">
        <ul class="pagination">
            <li class="page-item"> <a class="page-link" href="">上一页</a> </li>
            <li class="page-item active"> <a class="page-link" href="">1</a> </li>
            <li class="page-item"> <a class="page-link" href="">2</a> </li>
            <li class="page-item"> <a class="page-link" href="">3</a> </li>
            <li class="page-item"> <a class="page-link" href="">4</a> </li>
            <li class="page-item"> <a class="page-link" href="">5</a> </li>
            <li class="page-item"> <a class="page-link" href="">下一页</a> </li>
        </ul>
    </nav>
</article>
{include file="public/footer" /}