<div class="menu">
    <div class="logo"><a href="#"><img src="/static/images/logo.png"></a></div>
    <div class="close">
        <a class="closeBtn" href="javascript:void(0)"><img src="/static/images/close.png"></a>
        <a class="navBtn" href="javascript:void(0)"><img src="/static/images/nav.png"></a>
    </div>
    <div class="menu1">
        <ul>
            <li>
                <a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_transform">index</span>
                </a>
            </li>
            <li>
                <a href="web">网&nbsp;&nbsp;&nbsp;&nbsp;站&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_transform">web</span>
                </a>
            </li>
            <li>
                <a href="h5">H5游戏&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_transform">H5game</span>
                </a>
            </li>
            <li>
                <a href="operate">运&nbsp;&nbsp;&nbsp;&nbsp;营&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_transform">Operate</span>
                </a>
            </li>
            <li>
                <a href="contact">我&nbsp;&nbsp;&nbsp;&nbsp;们&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_transform">we</span>
                </a>
            </li>
        </ul>
    </div>
</div>